/* 
    dark blue: #0F6BB5;
    light blue: #369ff4;
    gray: #ecebe9;
    orange: #e8632a;
  */
/* Layout & global */

body, html {
  background-color: #e8632a;
  color: #fff;
  text-align: center;
}

header {
  text-align: left;
}

.logo {
  width: 200px;
}

iframe {
  max-width: 100%;
}



/* Type */
h1 {
  font-family: 'Droid Serif', Georgia, serif;
  text-align: center;
  font-size: 2.5em;
  display: block;
  width: 100%;
  margin-top: -40px;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #369ff4;
  font-size: 4em;
}


/* Responsive */

@media screen and (max-width: 1200px) {
  h1 {
    margin-top: 0;
  }
}

@media screen and (max-width: 900px) {
  iframe {
    width: 650px;
    height: 333px;
  }
}

@media screen and (max-width: 675px) {
  iframe {
    width: 450px;
    height: 245px;
  }

  h3 {font-size: 2.5em;}
}

@media screen and (max-width: 475px) {
  iframe {
    width: 300px;
    height: 163px;
  }
}